@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
  margin:0;
  padding:0;
  color:white;
  font-family: poppins,open sans;
  box-sizing: border-box;
}

body{
  background:url(../huddle/images/bg-desktop.svg)no-repeat;
  background-size:cover;
  background-color: hsl(257, 40%, 49%);
}

header{
  margin:2.5rem 0 0 8rem;
}

.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3.2rem;
  padding:5rem 8rem 3rem;
}

.container div{
  padding-bottom:7rem;
}

h1{
  max-width:380px;
  line-height: 2.2rem;
  font-size: 2rem;
  font-family: poppins;
}

p{
  max-width: 450px;
  line-height:1.5rem;
  padding-top:1rem;
  color:rgba(255, 255, 255, 0.555);
  font-family: open sans;
}

.button{
  padding-top: 1rem;
}

button{
  color:hsl(257, 40%, 49%);
  padding:0.75rem 3rem;
  border-radius: 30px;
  border:none;
  box-shadow: 2px 3px 6px rgba(0,0,0,0.67);
  font-family: open sans;
  font-weight: 600;
  transition: background-color 0.23s;
  cursor: pointer;
}

button:hover{
  background-color: hsl(300, 69%, 71%);
  color:white;
}

.logo{
  display: flex;
  flex-direction: row;
  gap:1.5rem;
  justify-content: flex-end;
  margin-right:auto;
  font-size: 1.2rem;
  cursor: pointer;
}

.logo div{
  border:3px solid white;
  padding:10px;
  border-radius: 50%; 
  text-align: center;
}

.logo div i{
  margin: 0 0.3rem;
}

.logo div:hover, .logo div:hover i{
  color:hsl(300, 89%, 65%);
  border-color: hsl(300, 89%, 65%);
}

.creator{
  display: flex;
  flex-direction: row;
  gap:2rem;
  justify-content: center;
  font-size:1.2rem;
}

.mentor,.student{
  color: white;
  font-family: open sans;
} 

.mentor a,.student a{
  text-decoration: none;
}

.mentor :hover,.student :hover{
  text-decoration: underline;
  color:hotpink;
}

/* Laptop Responsive */
@media screen and (max-width:1024px){

  header{
    margin:2rem 0 0 3rem;
  }

  .container{
    display: flex;
    flex-direction: row;
    align-items:start;
    padding:3rem 3rem 0;
  }

  .container div{
    padding-top:3rem;
  }
}

/* Tablet Responsive */

@media screen and (max-width:768px){
  .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem 3rem 0;
  }

  .container div{
    padding:0;
  }

  img{
    max-width:100%;
  }

  h1{
    font-family: poppins;
    font-size: 1.6rem;
  }

  p{
    padding-bottom:1.5rem;
    font-size:1.2rem;
    max-width:400px;
    font-family: open sans;
  }

  .logo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top:4rem;
    padding-bottom:3rem;
  }

  .creator{
    display: flex;
    flex-direction: row;
  }
}

/* Mobile Responsive */
@media screen and (max-width:426px){
  body{
    background:url(../huddle/images/bg-mobile.svg) no-repeat;
    background-size:contain;
    background-color: hsl(257, 40%, 49%);
  }

  header img{
    max-width:38%;
  }

  .container{
    padding:3.2rem 3rem 2rem;
  }

  .container div{
    text-align: center;
  }

  h1{
    max-width:320px;
    line-height:2.5rem;
    font-size: 1.5rem;
  }

  p{
    max-width: 290px;
    color:rgba(255, 255, 255, 0.718);
    font-family: open sans;
    font-size: 0.95rem;
  }

  button{
    padding:0.75rem 6rem;
  }

  .logo{
    font-size: 1rem;
    display: flex;
    flex-direction: row;
    justify-content:center;
  }

  .creator{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0;
  }

  .mentor{
    font-size: 1.2rem;
    font-family: open sans;
  }

  .student{
    font-size: 1rem;
  }
}