*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body{
  display: grid;
  place-items: center;
  font-size:16px;
  font-family: Outfit,serif;
  background-color: #F5E7DA;
  margin-top:5rem;
  margin-bottom: 5rem;
}

.container{
  max-width:680px;
  min-height: 620px;
  background-color: white;
  border-radius: 20px;
}

/* Omelette Image */

.image{
  padding:2rem 2.5rem;
}

.image img{
  width:100%;
  object-fit: contain;
  border-radius: 12px;
}

.title{
  padding:0 2.5rem 2rem 2.5rem;
}

.title h1{
  padding-bottom:1.2rem;
  font-family: Georgia,serif;
  font-size: 32px;
}

.title p{
  color:hsl(30, 10%, 34%);
  font-weight: 600;
  width:640px;
  font-size:15px;
  padding-right:20px;
}

/* Preparation */

.time{
  height:162px;
  margin:0 2.5rem;
  padding:20px;
  background-color: hsl(330, 100%, 98%);
  border-radius: 20px;
}

h3{
  padding:0px 10px 10px 20px;
  color:hsl(332, 51%, 32%);
}

.time div{
  padding:0 3.5rem;
}

div li{
  padding:5px 
}

/* Ingredients */

.ingredients{
  padding:2rem 2.5rem 1.5rem 2.5rem;
}

.ingredients div{
  padding:0.8rem 1rem 0 1rem;
}

.line{
  margin:0 2.5rem;
  max-width:600px;
  border-bottom:2px solid hsl(30, 18%, 87%);
}

ul li{
  color:hsl(30, 10%, 34%);
  font-weight: 600;
}

ul li::marker{
  list-style-type: disc;
  color:black;
}

/* Instructions */

.instruct{
  padding:2rem 2.5rem 1.5rem 2.5rem;
}

.instruct div{
  padding:0.8rem 1rem 0 1rem;
}

ol li::marker{
  list-style-type: decimal;
  color:hsl(14, 45%, 36%);
  font-family: Outfit;
  font-weight: 600;
  padding-right:8px;
}

.egg{
  max-width:560px;
  font-size:16px;
  font-family: serif;
}

.add{
  width:580px
}

.pan,.cook,.add,.fold,.enjoy{
  font-size:16px;
  font-family: serif;
}

ol li{
  color:hsl(30, 10%, 34%);
  font-weight: 600;
}

ol li strong{
  color:black;
}

/* Nutrition */

.nutrients{
  padding:2rem 2.5rem 1.5rem 2.5rem;
}

.nutrients h2{
  font-family: serif;
  padding-bottom:20px;
}

.nutrients p{
  color:hsl(30, 10%, 34%);
  font-weight: 600;
  font-size: 14px;
  padding-bottom:10px;
}

.information{
  display: flex;
  flex-direction: column;
}

.nut{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 2px solid hsl(30, 18%, 87%);
}

.nut p{
  padding-right:5rem;
  color:hsl(30, 10%, 34%);
  font-weight: 600;
  padding:8px 0 8px 1.2rem;
}

.nut p strong{
  padding-right:7rem;
  color:hsl(14, 45%, 36%);
}

#bottom{
  border-bottom:none;
}

/*  Color  */

h2{
  color:hsl(14, 45%, 36%);
}

/*  Crreator  */

.creator{
  display: flex;
  flex-direction: row;
  padding-bottom:2rem;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  
}

.creator p a{
  text-decoration: none;
}

.creator p a:hover{
  color:hsl(332, 51%, 32%);
}